@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');
* {
    font-family: Cinzel, cursive, 'Times New Roman', Times, serif;
}

.container > div {
    border: 1px solid black
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
}
.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 2vh;
}
.header button {
    margin-top: 10px;
    margin-bottom: 10px;
}
button {
    display: flex;
    align-items: center;
}
button:hover {
    box-shadow: 0 0 5px grey;
}
img {
    height: 24px;
    width: 24px;
}
.form-container form {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border: 1px solid black;
    padding: 10px;
}